@model BaseListViewModel

@if (!Model.IsEmpty)
{
    <form method="post" id=@("form"+@Model.PageViewModel.Pseudonym+"PageSizeSelector") onchange="SelectedItemChanged(this)" asp-controller="Product" asp-action="ProductList">
        <div class="d-grip gap-2">
            <b>Выберите размер страницы</b>
            <select id="pageSizeSelector">
                @foreach (int pageNumber in Model.PageSizes)
                {
                    @if (pageNumber == Model.PageViewModel.PageSize)
                    {
                        <option value="@pageNumber" selected>@pageNumber</option>
                    }
                    else
                    {
                        <option value="@pageNumber">@pageNumber</option>
                    }
                }
            </select>
        </div>
    </form>
}

<script>
    function SelectedItemChanged(object) {
        var oldUrl = new URL(window.location.href);
        var newUrl = new URL(oldUrl.protocol + "//" + oldUrl.host);
        if (oldUrl.pathname.includes("Size")) {
            var oldSize = oldUrl.pathname.slice(oldUrl.pathname.indexOf("Size") + 4, oldUrl.pathname.length);
            // var oldPageNumber = oldUrl.pathname.slice(oldUrl.pathname.indexOf("Page") + 4, oldUrl.pathname.indexOf("/Size"));
            // var pageNumber = 1;
            // if ('@Model.PageViewModel.TotalPages' > '@ViewBag.SelectedPage') {
            //     pageNumber = '@ViewBag.SelectedPage'
            // }
            newUrl.pathname = oldUrl.pathname.replace("Size" + oldSize, "Size" + document.querySelector('#pageSizeSelector').value);
            // newUrl.pathname = newUrl.pathname.replace("Page" + '@ViewBag.SelectedPage', "Page" + pageNumber);
            // newUrl.pathname = newUrl.pathname.replace("Page" + oldPageNumber, "Page" + pageNumber);
        }
        else {
            newUrl += '@Model.PageViewModel.Pseudonym' + "/Page1/Size" + document.querySelector('#pageSizeSelector').value;
        }
        window.location.href = newUrl;
    }
</script>