@model ProductsListViewModel

<form method="post" id="formPageSizeSelector" onchange="SelectedItemChanged()" asp-controller="Product" asp-action="ProductList">
    <div class="d-grip gap-2">
        <b>Выберите размер страницы</b>
        <select id="pageSizeSelector">
            @foreach (int pagenumber in Model.PageSizes)
            {
                @if (pagenumber == Model.PageViewModel.PageSize)
                {
                    <option id="ps" + pagenumber value="@pagenumber" selected>@pagenumber</option>
                }
                else
                {
                    <option id="ps" + pagenumber value="@pagenumber">@pagenumber</option>
                }
            }
        </select>
    </div>
</form>

<script>
    function SelectedItemChanged() {
        var oldUrl = new URL(window.location.href);
        var newUrl = new URL(oldUrl.protocol + "//" + oldUrl.host);
        if (oldUrl.pathname.includes("Size")) {
            var oldSize = oldUrl.pathname.slice(oldUrl.pathname.indexOf("Size") + 4, oldUrl.pathname.length);
            newUrl.pathname = oldUrl.pathname.replace("Size" + oldSize, "Size" + document.querySelector('#pageSizeSelector').value);
        }
        else {
            // var action = @Model.PageViewModel.CurrentAction;
            // alert(action);
            // if (action == "Products") {
            //     newUrl = oldUrl.host + "/Products/Page1/Size" + document.querySelector('#pageSizeSelector').value;
            // }
            // else {
            //     newUrl = oldUrl;
            // }
            // console.log(@Model.PageViewModel.CurrentAction);
            // alert(oldUrl.protocol + oldUrl.host + @ViewBag.UrlPart + "/Page1/Size" + document.querySelector('#pageSizeSelector').value + "<-new url");
            // console.log(oldUrl.protocol + oldUrl.host + @ViewBag.UrlPart + "/Page1/Size" + document.querySelector('#pageSizeSelector').value + "<-new url");
            // newUrl = oldUrl.host + "/" + @ViewBag.UrlPart + "/Page1/Size" + document.querySelector('#pageSizeSelector').value;
            // console.log(newUrl +" all");
            // newUrl = oldUrl;
            newUrl += "/Products/Page1/Size" + document.querySelector('#pageSizeSelector').value;
            // newUrl.searchParams.set('category') = "";
            // newUrl.searchParams.set('productPage') = 1;
            // newUrl.searchParams.set('pageSize') = document.querySelector('#pageSizeSelector').value;
        }
        window.location.href = newUrl;
    }
</script>